<h2><%= link_to @trip.name %></h2>
<p><%= @trip.description %></p>
<p><%= button_to "Edit", edit_trip_path, :method => "get" %></p>
<p><%= button_to "Delete", @trip, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= button_to "Add a new Post", new_trip_post_path(@trip), :method => "get" %></p>
<p><%= button_to "Add a new Image", new_trip_image_path(@trip), :method => "get" %></p>

<% if @trip.posts.any? %>
	<hr>
	<% @trip.posts.each do |post| %>
	<strong><%= post.title %></strong> - <%= link_to "View Post", trip_post_path(@trip, post) %><br>
	<hr>
	<% end %>
<% end %>
<% if @trip.images.any? %>
	<% @trip.images.each do |image| %>
	<p><%= link_to image.title, image_path(image) %></p>
	<p><%= image_tag image.attachment.url(:medium) %></p>
	<% end %>
<% end %>