<div class="row">
	<div class="col s12">
		<h1>Login Page</h1>
	</div>
	<div class="all_forms">
	<%= form_for :parent, url: "/sessions", method: :post do |f| %>
		<div class="input-field col s12">
			<%= f.label :email, "Email Address" %>
			<%= f.email_field :email, autofocus: true %>
		</div>
		<div class="input-field col s12">
			<%= f.label :password, "Password" %>
			<%= f.password_field :password %>
		</div>
		<div class="input-field col s12">
			<button class="all_buttons waves-effect waves-light btn col s12"><%= f.submit "Login" %></button> 
		</div>
		<% end %>
		</div>
</div>
