<h1>Login</h1>
<%= form_for :user, url: '/sessions', method: :post do |f| %>
  <!--Check for errors -->
<%= render 'partials/flashMsg' %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Login', class:'btn btn-small btn-primary' %>
  </div>
<% end %>







