
<% @card_groupings.each do |id, values| %>
	<br>
	<b><%= "Search: " %><%= link_to @card_search_query[id][0]['search_query'], "searches/#{@card_search_query[id][0].id}" %></b><br>
	<% values.sort_by{|v| v.price}.each do |v| %>
		<li><%= "Sold for $#{v.price} on #{v.endTime} after #{v.numberBids || 0} bids - " %><%= link_to v.title, v.url %>
		<%= link_to delete_single_card_path(v.id), :method => "delete" do %>
				<span class="glyphicon glyphicon-trash" id="delete-glyphicon"></span>
		<% end %>

		</li>

	<% end %>
	<br>
<% end %>