<form class="form-inline">
	<%= form_tag(search_queries_path, :method => "get", id: "search-form-get") do %>
		<%= text_field_tag :player, params[:player], placeholder: "Player", class: "form-control" %>
		<%= text_field_tag :year, params[:year], placeholder: "Year", class: "form-control" %>
		<%= text_field_tag :manufacturer, params[:manufacturer], placeholder: "Manufacturer", class: "form-control" %>
		PSA<%= radio_button_tag :grade_company, 'PSA' %>
		BGS<%= radio_button_tag :grade_company, 'BGS' %>
		BVG<%= radio_button_tag :grade_company, 'BVG' %>
		<%= text_field_tag :grade, params[:grade], placeholder: "Grade", class: "form-control" %>
		<%= submit_tag "Search", class: "btn btn-default" %>
	<% end %>
</form>
<br>
<% if @results.present? %>
	<% if @query_exists == 0 %>
		<%= form_tag(search_queries_path, :method => "post", id: "search-form-post") do %>
			<%= hidden_field_tag :player, params[:player] %>
			<%= hidden_field_tag :grade_company, params[:grade_company] %>
			<%= hidden_field_tag :grade, params[:grade] %>
			<%= hidden_field_tag :year, params[:year] %>
			<%= hidden_field_tag :manufacturer, params[:manufacturer] %>
			<%= submit_tag "Save Query", class: "btn btn-success" %>
		<% end %>
		<br>
	<% end %>
	<%= "Total Results: #{@results.count} " %>
	<br><br>
	<% @results.each do |c| %>
		<div class="thumbnail">
		<div class="row">
			<div class="col-xs-2">
			<%= image_tag c['imageUrl'] %>
			</div>
			<div class="col-xs-6">
			<% (c.map{ |k,v| "#{k}: #{v}" }.sort).each do |x| %>
				<%= x %><br>
			<% end %>
			</div>
		</div>
		</div>
		<br><br>
	<% end %>
<% end %>