<h1><%= @post.title %></h1>
<hr>
<p><%= @post.content %></p>
<p class="small text-muted">
  Posted <%= time_ago_in_words(@post.created_at) %> ago
</p>
  <hr>
  <p>
    <%= link_to "Edit Post", edit_trip_post_path(@trip, @post) %>
    <%= link_to "Delete Post", trip_post_path(@trip, @post), method: :delete %>
  </p>
