<div class="row">
		<div class="editMemory col s12">
			<h4>Edit <%= @child.child_first_name %>'s memory</h4>
		<%= form_for @memory do |f| %>
			<div class="input-field col s12">
				<%= f.label :memory_date, "Date of Milestone or Memory" %>
				<br>
				<%= f.date_field :memory_date%>
			</div>
			<div class="input-field col s12">
				<%= f.label :memory_description, "Description" %>
				<%= f.text_area :memory_description%>
			</div>
			<h5>Would you like to be reminded of this milestone later?</h5>
			<div class="input-field col s12">
			<%= f.check_box :send_email, class: "with-gap" %>
			<%= f.label :send_email, "Send Email" %>
			</div>
			<div class="hidden">
				<%= f.hidden_field :child_id, value: @child.id %>
			</div>	
			<div class="input-field col s12">
				<button class="all_buttons waves-effect waves-light btn"><%= f.submit "Add Memory" %></button>
			</div>	
			<% end %>	
		</div>
	</div>