<%= form_for([@trip, @image], url: trip_images_path(@trip), html: { multipart: true }) do |f| %>
	<div class="field col-md-4">
  <%= f.label :image %>
  <%= f.file_field :attachment %>
  <%= f.text_field :title, placeholder: "Image title", class: "form-control", autofocus: true %>
  </div>
  <div class="submit">
  <%= f.submit "Save Image" %>
  </div>
<% end %>