<!DOCTYPE html>
<html>
<head>
  <title>ReMemories</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="row">
		<nav>
			<div class="center col s12">
				<div class="col s12 m6">
					<%= link_to "ReMemories", root_path, class: "waves-effect waves-light btn" %>
				</div>
				<% if current_parent %>
				<div class="col s12 m6">
					<%= link_to "Profile", parent_path(current_parent), class: "waves-effect waves-light btn" %>
					<%= link_to "Logout", logout_path, class: "waves-effect waves-light btn" %>
					<% else %>
					<%= link_to "Sign up", new_parent_path, class: "waves-effect waves-light btn" %>
					<%= link_to "Login", login_path, class: "waves-effect waves-light btn" %>
				</div>
				<% end %>
			</div>
		</nav>
	</div>
	<!-- add classes to customize different alert type color schemes -->
	<div class="row">
	<% flash.each do |alert, message| %>
		<div class="flash_message col s12">
			<h3><%= message %></h3>
		</div>
	<% end %>
	</div>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
