<!DOCTYPE html>
<html>
<head>
  <title>ReMemories</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="debug">
	<%= debug @parent%>
</div> -->
<div class="navBar">
	<%= link_to "Home", root_path %>
	<% if current_parent %>
	<%= link_to "Profile", parent_path(current_parent) %>
	<%= link_to "Logout", logout_path %>
	<% else %>
	<%= link_to "Sign up", new_parent_path %>
	<%= link_to "Login", login_path %>
	<% end %>
</div>
<!-- add classes to customize different alert type color schemes -->
<% flash.each do |alert, message| %>
	<div class="flash_message">
		<h3><%= message %></h3>
	</div>
<% end %>

<%= yield %>

</body>
</html>
